<%- include('../partials/header') %>
<body class="bg-light">
    <div class="container py-3">
        <%- include('../partials/navigation') %>
        <main>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <h4>Agregar producto</h4>
            
                    <form class="" action="/productos" method="POST">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="title" class="form-label">Título</label>
                                <input type="text" name="title" id="title" class="form-control" placeholder="Nombre del producto">
                            </div>
                            <div class="col-12">
                                <label for="price" class="form-label">Precio</label>
                                <input type="text" name="price" id="price" class="form-control" placeholder="Ej. 3.50">
                            </div>
                            <div class="col-12">
                                <label for="thumbnail" class="form-label">Thumbnail</label>
                                <input type="text" name="thumbnail" id="thumbnail" class="form-control" placeholder="url">
                            </div>
                            <div class="col-12">
                                <button class="w-100 btn btn-primary btn-lg" type="submit">Agregar producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>